<div class="main_dropdown">
    <div class="container">
      <div class="dropdown" data-dropdown-index="0">
        <button class="dropdown-toggle">
          UnderGrade <span class="dropdown-arrow">&#9660;</span> 
        </button>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item" data-value="option1">UG1</a>
          <a href="#" class="dropdown-item" data-value="option2">UG2</a>
          <a href="#" class="dropdown-item" data-value="option3">UG3</a>
          <a href="#" class="dropdown-item" data-value="option3">UG4</a>
        </div>
      </div>

      <div class="dropdown" data-dropdown-index="1">
        <button class="dropdown-toggle">
          Course <span class="dropdown-arrow">&#9660;</span> 
        </button>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item" data-value="option1">Option 1</a>
          <a href="#" class="dropdown-item" data-value="option2">Option 2</a>
          <a href="#" class="dropdown-item" data-value="option3">Option 3</a>
        </div>
      </div>

      <div class="dropdown" data-dropdown-index="2">
        <button class="dropdown-toggle">
          Section <span class="dropdown-arrow">&#9660;</span> 
        </button>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item" data-value="option1">section 1</a>
          <a href="#" class="dropdown-item" data-value="option2">section 2</a>
          <a href="#" class="dropdown-item" data-value="option3">section 3</a>
        </div>
      </div> 

      <div>
      <button class="submitBtn">
        Submit
        <svg fill="white" viewBox="0 0 448 512" height="1em" class="arrow"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
      </button>
      </div>
    </div>
          
    <div class="table-container">
      <div id="table-area"></div>
    </div>
  </div>


  <script src="/javascript/fac_attend.js"></script>
