/* General Styling */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); 
 body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
  }
  
  /* Main Container */
  .main-div {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Divide into two equal rows */
    height: 100%;
    width: 80%;
    top: 16rem;
    left: 16rem;
    align-self: center;
    padding-left: 20px;
    padding-top:20px;

  }
  
  /* Upper Section with Small Divs */
  .upper-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 10px; /* Spacing between small divs */
    /* margin-top: 10%; */
    margin-right: 20px;
    height: 50;
  }
  
  .small-div {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    height: 210px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
  }
  
  /* Lower Section */
 .lower-section {
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden !important;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  } 

 .subject {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

.total-classes {
  text-align: left;
  margin: 10px;
}

.chart-plot{
 width: 60%;
 border-radius: 15px;
}

.info-table{
display: flex;
height: 70%;
width: 35%;
border-radius: 15px;
align-items: center;
justify-content: center;
background-color: #f0f0f0;

}


#json {
  font-family: monospace, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 40px;
  color: white;
  border-radius: 10px;
}
 

#bar__buttons {  
display: flex;  
align-items: center;
} 
.bar__button {  
display: flex;  
justify-content: center;  
align-items: center;  
padding: 0;  
margin-right: 5px;  
font-size: 8px;  
height: 12px;  
width: 12px;  
box-sizing: border-box;  
border: none;  
border-radius: 100%;  
background: linear-gradient(#7d7871 0%, #595953 100%);  
text-shadow: 0px 1px 0px rgba(255,255,255,0.2);  
box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.bar__button:hover {  
cursor: pointer;
}
.bar__button:focus {  
outline: none;
}
#bar__button--exit {  
background: linear-gradient(#f37458 0%, #de4c12 100%);    
background-clip: padding-box;
} 
#bar__user {   
color: #d5d0ce;  
margin-left: 6px;  
font-size: 14px;  
line-height: 15px;
} 




.key {
  color: rgba(144, 144, 235, 0.781);
  font-weight: bold;
}

.value {
  color: rgb(124, 255, 124);
}

.indent {
  margin-left: 40px;
}




a {
  color:                       #5294e2;
}
b{
  color:                       #6a9e41;
}
.window {
  font-family:                 monospace;
  font-size:                   14px;
  color:                       #c8cfd8;
  background:                  #404552;
  box-shadow:                  0 0 10px rgba(0,0,0,0.5);
  border-radius:               5px;
  border:                      2px solid #2e333f;
  width:                       63%;
  margin:                      auto;
  height: 300px;
  margin-top: 0px;
  margin-left: 0px;

}
.window_header {
  background:                  #2e333f;
  color:                       #c8cfd8;
  padding:                     7px;

}
.window_title {
  display:                     inline-block;
}
.window_minimize_button, .window_maximize_button, .window_close_button {
  border-radius:               7px;
  width:                       12px;
  height:                      12px;
  display:                     inline-block;
  float:                       right;
  margin-left:                 6px;
}
.window_minimize_button {
  background:                  #2cc640;
  border:                      1px solid #51a75c;

}
.window_maximize_button {
  background:                  #fdbf2e;
  border:                      1px solid #d6a839;  
} 
.window_close_button {
  background:                  #fe6256;
  border:                      1px solid #ca5f59;  
}
.window_content {
  text-align: left;
} 
.blink {
  animation:                   blinking 1s infinite;
}
@keyframes blinking {
  0% { clear:                  both; }
  50%{ color:                  transparent; }    
}

