<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/styles/style.css" rel="stylesheet">
  <script src="/javascript/preline/dist/preline.js"></script>

</head>

<body>
  
  <div class="flex sticky h-screen w-full bg-white dark:bg-gray-900 ">
    <div id="docs-sidebar"
      class="  w-sidebar-expand text-white overflow-auto drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] border-r-2 border-slate-400">
      <nav class=" p-1 w-full flex flex-col flex-wrap">
        <ul class="  space-y-4 ml-1 mr-4" >
          <li><a
            class="my_sidebar-icon "
            href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20 6.5H24C24.8284 6.5 25.5 7.17157 25.5 8V12C25.5 12.8284 24.8284 13.5 24 13.5H20C19.1716 13.5 18.5 12.8284 18.5 12V8C18.5 7.17157 19.1716 6.5 20 6.5ZM17 8C17 6.34315 18.3431 5 20 5H24C25.6569 5 27 6.34315 27 8V12C27 13.6569 25.6569 15 24 15H20C18.3431 15 17 13.6569 17 12V8ZM12 18.5C12.8284 18.5 13.5 19.1716 13.5 20V24C13.5 24.8284 12.8284 25.5 12 25.5H8C7.17157 25.5 6.5 24.8284 6.5 24V20C6.5 19.1716 7.17157 18.5 8 18.5H12ZM5 20C5 18.3431 6.34315 17 8 17H12C13.6569 17 15 18.3431 15 20V24C15 25.6569 13.6569 27 12 27H8C6.34315 27 5 25.6569 5 24V20ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5ZM10 15C12.7614 15 15 12.7614 15 10C15 7.23858 12.7614 5 10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15ZM25.5 22C25.5 23.933 23.933 25.5 22 25.5C20.067 25.5 18.5 23.933 18.5 22C18.5 20.067 20.067 18.5 22 18.5C23.933 18.5 25.5 20.067 25.5 22ZM27 22C27 24.7614 24.7614 27 22 27C19.2386 27 17 24.7614 17 22C17 19.2386 19.2386 17 22 17C24.7614 17 27 19.2386 27 22Z" />
            </svg>
            <span class="sidebar-dec pl-[8%] font-poppins text-base font-normal">Overview</span>
          </a></li>
          <li><a
            class="my_sidebar-icon "
            href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path d="M16 10C16 10.4142 15.6642 10.75 15.25 10.75H8.75C8.33579 10.75 8 10.4142 8 10C8 9.58579 8.33579 9.25 8.75 9.25H15.25C15.6642 9.25 16 9.58579 16 10Z"/>
              <path d="M14 14C14 14.4142 13.6642 14.75 13.25 14.75H8.75C8.33579 14.75 8 14.4142 8 14C8 13.5858 8.33579 13.25 8.75 13.25H13.25C13.6642 13.25 14 13.5858 14 14Z"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1C8.89543 1 8 1.89543 8 3H6C4.89543 3 4 3.89543 4 5V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V5C20 3.89543 19.1046 3 18 3H16C16 1.89543 15.1046 1 14 1H10ZM14.5 3C14.5 2.72386 14.2761 2.5 14 2.5H10C9.72386 2.5 9.5 2.72386 9.5 3V4.5C9.5 4.77614 9.72386 5 10 5H14C14.2761 5 14.5 4.77614 14.5 4.5V3ZM16 4.5C16 5.60457 15.1046 6.5 14 6.5H10C8.89543 6.5 8 5.60457 8 4.5H6C5.72386 4.5 5.5 4.72386 5.5 5V20C5.5 20.2761 5.72386 20.5 6 20.5H18C18.2761 20.5 18.5 20.2761 18.5 20V5C18.5 4.72386 18.2761 4.5 18 4.5H16Z" />
            </svg>
            <span class="sidebar-dec pl-[8%] font-poppins text-base font-normal">Messages</span>
          </a></li>
          <li><a
            class="my_sidebar-icon "
            href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3119 10.0113C22.5199 11.0961 21.6046 12 20.5 12H14C12.8954 12 12 11.1046 12 10V3.50003C12 2.39546 12.9039 1.48014 13.9887 1.68811C18.1928 2.49408 21.506 5.80721 22.3119 10.0113ZM20.8388 10.2937C20.1484 6.69293 17.3071 3.8516 13.7063 3.16129C13.6795 3.15614 13.6693 3.15937 13.6663 3.16034C13.6604 3.16219 13.6419 3.16936 13.6166 3.19328C13.561 3.24564 13.5 3.35335 13.5 3.50003V10C13.5 10.2762 13.7239 10.5 14 10.5H20.5C20.6467 10.5 20.7544 10.439 20.8068 10.3835C20.8307 10.3581 20.8377 10.3401 20.8396 10.3341C20.8406 10.331 20.8439 10.3206 20.8388 10.2937Z" />
              <path d="M9.62681 2.79886C10.0803 2.68224 10.5 3.0415 10.5 3.50971C10.5 3.8756 10.2384 4.18599 9.88544 4.28247C6.49326 5.20976 4 8.31373 4 12C4 16.4183 7.58172 20 12 20C15.6863 20 18.7903 17.5068 19.7176 14.1146C19.814 13.7617 20.1244 13.5 20.4903 13.5C20.9585 13.5 21.3178 13.9198 21.2012 14.3732C20.1472 18.4716 16.4273 21.5 12 21.5C6.7533 21.5 2.5 17.2467 2.5 12C2.5 7.57276 5.52848 3.85283 9.62681 2.79886Z" />
              </svg>
            <span class="sidebar-dec pl-[8%] font-poppins text-base font-normal">Attendance</span>
          </a></li>
          <li><a
            class="my_sidebar-icon "
            href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M4 13.2C4 12.0799 4 11.5198 4.21799 11.092C4.40973 10.7157 4.71569 10.4097 5.09202 10.218C5.51984 10 6.0799 10 7.2 10H8.67452C9.1637 10 9.40829 10 9.63846 10.0553C9.84254 10.1043 10.0376 10.1851 10.2166 10.2947C10.4184 10.4184 10.5914 10.5914 10.9373 10.9373L12.0627 12.0627C12.4086 12.4086 12.5816 12.5816 12.7834 12.7053C12.9624 12.8149 13.1575 12.8957 13.3615 12.9447C13.5917 13 13.8363 13 14.3255 13H16.8C17.9201 13 18.4802 13 18.908 13.218C19.2843 13.4097 19.5903 13.7157 19.782 14.092C20 14.5198 20 15.0799 20 16.2V17.8C20 18.9201 20 19.4802 19.782 19.908C19.5903 20.2843 19.2843 20.5903 18.908 20.782C18.4802 21 17.9201 21 16.8 21H7.2C6.07989 21 5.51984 21 5.09202 20.782C4.71569 20.5903 4.40973 20.2843 4.21799 19.908C4 19.4802 4 18.9201 4 17.8V13.2Z" stroke-width="2"/>
              <path d="M18 13V7L15 4H9.2C8.07989 4 7.51984 4 7.09202 4.21799C6.71569 4.40973 6.40973 4.71569 6.21799 5.09202C6 5.51984 6 6.0799 6 7.2V10"  stroke-width="2" stroke-linejoin="round"/>
              <path d="M13 4V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H18"  stroke-width="2" stroke-linejoin="round"/>
            </svg>
            <span class="sidebar-dec pl-[8%] font-poppins text-base font-normal">Documents</span>
          </a></li>  
          <li><a
            class="my_sidebar-icon "
            href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.26351 9.53885C2.09083 9.84105 2 10.1831 2 10.5311V18C2 19.1046 2.89543 20 4 20H20C21.1046 20 22 19.1046 22 18V10.5311C22 10.1831 21.9092 9.84105 21.7365 9.53885L18.5758 4.00772C18.2198 3.38457 17.5571 3 16.8394 3H7.16065C6.44293 3 5.78025 3.38457 5.42416 4.00772L2.26351 9.53885ZM17.2735 4.75193C17.1845 4.59614 17.0188 4.5 16.8394 4.5H7.16065C6.98122 4.5 6.81555 4.59614 6.72652 4.75193L3.72763 10H7.5C8.05229 10 8.4856 10.4568 8.64104 10.9868C9.06707 12.4393 10.4097 13.5 12 13.5C13.5903 13.5 14.9329 12.4393 15.359 10.9868C15.5144 10.4568 15.9477 10 16.5 10H20.2724L17.2735 4.75193ZM20.5 11.5H16.7707C16.1336 13.5273 14.2407 15 12 15C9.7593 15 7.86636 13.5273 7.22932 11.5H3.5V18C3.5 18.2761 3.72386 18.5 4 18.5H20C20.2761 18.5 20.5 18.2761 20.5 18V11.5Z" />
            </svg>
            <span class="sidebar-dec pl-[8%] font-poppins text-base font-normal">Inbox</span>
          </a></li> 
          <li><a
            class="my_sidebar-icon "
            href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 16C14.2094 16 16.0002 14.2091 16.0002 12C16.0002 9.79086 14.2094 8 12.0002 8C9.7911 8 8.00024 9.79086 8.00024 12C8.00024 14.2091 9.7911 16 12.0002 16ZM12.0002 14.5C13.3809 14.5 14.5002 13.3807 14.5002 12C14.5002 10.6193 13.3809 9.5 12.0002 9.5C10.6195 9.5 9.50024 10.6193 9.50024 12C9.50024 13.3807 10.6195 14.5 12.0002 14.5Z" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1182 1.86489L15.5203 4.81406C15.8475 4.97464 16.1621 5.1569 16.4623 5.35898L19.2185 4.23223C19.6814 4.043 20.2129 4.2248 20.463 4.65787L22.5901 8.34213C22.8401 8.77521 22.7318 9.3264 22.3365 9.63266L19.9821 11.4566C19.9941 11.6362 20.0002 11.8174 20.0002 12C20.0002 12.1826 19.9941 12.3638 19.9821 12.5434L22.3365 14.3673C22.7318 14.6736 22.8401 15.2248 22.5901 15.6579L20.463 19.3421C20.2129 19.7752 19.6814 19.957 19.2185 19.7678L16.4623 18.641C16.1621 18.8431 15.8475 19.0254 15.5203 19.1859L15.1182 22.1351C15.0506 22.6306 14.6274 23 14.1273 23H9.87313C9.37306 23 8.94987 22.6306 8.8823 22.1351L8.48014 19.1859C8.15296 19.0254 7.83835 18.8431 7.53818 18.641L4.78195 19.7678C4.31907 19.957 3.78756 19.7752 3.53752 19.3421L1.41042 15.6579C1.16038 15.2248 1.26869 14.6736 1.66401 14.3673L4.01841 12.5434C4.00636 12.3638 4.00025 12.1826 4.00025 12C4.00025 11.8174 4.00636 11.6362 4.01841 11.4566L1.66401 9.63266C1.26869 9.3264 1.16038 8.77521 1.41041 8.34213L3.53752 4.65787C3.78755 4.2248 4.31906 4.043 4.78195 4.23223L7.53818 5.35898C7.83835 5.1569 8.15296 4.97464 8.48014 4.81406L8.8823 1.86489C8.94987 1.3694 9.37306 1 9.87313 1H14.1273C14.6274 1 15.0506 1.3694 15.1182 1.86489ZM14.1421 5.80854L14.8595 6.16063C15.1251 6.29098 15.3806 6.43902 15.6246 6.60328L16.2888 7.05042L19.3822 5.78584L21.0728 8.71416L18.432 10.76L18.4854 11.557C18.4952 11.7032 18.5002 11.8509 18.5002 12C18.5002 12.1491 18.4952 12.2968 18.4854 12.443L18.432 13.24L21.0728 15.2858L19.3822 18.2142L16.2888 16.9496L15.6246 17.3967C15.3806 17.561 15.1251 17.709 14.8595 17.8394L14.1421 18.1915L13.6909 21.5H10.3096L9.85841 18.1915L9.14101 17.8394C8.87543 17.709 8.61987 17.561 8.37587 17.3967L7.7117 16.9496L4.61834 18.2142L2.92768 15.2858L5.5685 13.24L5.51505 12.443C5.50524 12.2968 5.50024 12.1491 5.50024 12C5.50024 11.8509 5.50524 11.7032 5.51505 11.557L5.5685 10.76L2.92767 8.71416L4.61834 5.78584L7.7117 7.05042L8.37587 6.60328C8.61986 6.43902 8.87543 6.29098 9.14102 6.16063L9.85841 5.80854L10.3096 2.5H13.6909L14.1421 5.80854Z" />
            </svg>
            <span class="sidebar-dec pl-[8%] font-poppins text-base font-normal">Settings</span>
          </a></li>      
        </ul>
      </nav>
    </div>
    <div class="flex flex-col w-full ">
      <div class="space-y-4 h-20 justify-evenly items-center bg-white dark:bg-blue-600 border-b-2 border-slate-400 ">

        <header class="flex mx-8  text-sm py-4 text-blue-600 justify-between">
          <div class="flex flex-row">
            
            <div class=" ml-5 ">
              <button type="button" class="ml-8 ring-2 p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-gray-700 dark:text-white dark:hover:bg-white/10"  onclick="toggleSidebar()" aria-label="Toggle navigation">
                <svg id="hs-open:hidden" class=" hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                <svg id="hs-open:block" class="  flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
              </button>
            </div>
            
          </div>
          <div class="flex items-center gap-4">
            <a href="#" class="hover:text" > laskj dfksj </a>
          </div>
        </header>
    
      </div>
      <div class="flex h-full bg-gray-400">
        lskjdlfkjlasdkjflkjasd
      </div>
    </div>
  </div>
  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById('docs-sidebar');
      const sidebarDec = document.getElementsByClassName('sidebar-dec');
      const sidebarToggleHidden = document.getElementById('hs-open:hidden');
      const sidebarToggleBlock = document.getElementById('hs-open:block');
      sidebar.classList.toggle('w-sidebar-compress');
      sidebar.classList.toggle('w-sidebar-expand');
      sidebarToggleHidden.classList.toggle('hidden');
      sidebarToggleBlock.classList.toggle('hidden');


      for (let i = 0; i < sidebarDec.length; i++) {
        sidebarDec[i].classList.toggle('hidden');
      }

    }
  </script>

</body>

</html>