
<% const table = [1,3,45,6,34,56,3456,345,64,356] %>
<div class="flex flex-wrap justify-evenly">
    <% for (let i = 0; i < table.length; i++) { %>
        <div class="m-5 w-1/4 h-[200px] border border-black ">hgjhgjgvhjv <%= table[i] %></div>
    <% } %>
</div>