<ul class="  space-y-4 ml-1 mr-4">
    <li><a class="my_sidebar-icon " href="#">
            <svg class="size-[36px] " xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 6.5H24C24.8284 6.5 25.5 7.17157 25.5 8V12C25.5 12.8284 24.8284 13.5 24 13.5H20C19.1716 13.5 18.5 12.8284 18.5 12V8C18.5 7.17157 19.1716 6.5 20 6.5ZM17 8C17 6.34315 18.3431 5 20 5H24C25.6569 5 27 6.34315 27 8V12C27 13.6569 25.6569 15 24 15H20C18.3431 15 17 13.6569 17 12V8ZM12 18.5C12.8284 18.5 13.5 19.1716 13.5 20V24C13.5 24.8284 12.8284 25.5 12 25.5H8C7.17157 25.5 6.5 24.8284 6.5 24V20C6.5 19.1716 7.17157 18.5 8 18.5H12ZM5 20C5 18.3431 6.34315 17 8 17H12C13.6569 17 15 18.3431 15 20V24C15 25.6569 13.6569 27 12 27H8C6.34315 27 5 25.6569 5 24V20ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5ZM10 15C12.7614 15 15 12.7614 15 10C15 7.23858 12.7614 5 10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15ZM25.5 22C25.5 23.933 23.933 25.5 22 25.5C20.067 25.5 18.5 23.933 18.5 22C18.5 20.067 20.067 18.5 22 18.5C23.933 18.5 25.5 20.067 25.5 22ZM27 22C27 24.7614 24.7614 27 22 27C19.2386 27 17 24.7614 17 22C17 19.2386 19.2386 17 22 17C24.7614 17 27 19.2386 27 22Z" />
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Overview</span>
        </a></li>
    <li><a class="my_sidebar-icon  " href="#">
            <svg class="size-[36px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
                <path
                    d="M16 10C16 10.4142 15.6642 10.75 15.25 10.75H8.75C8.33579 10.75 8 10.4142 8 10C8 9.58579 8.33579 9.25 8.75 9.25H15.25C15.6642 9.25 16 9.58579 16 10Z" />
                <path
                    d="M14 14C14 14.4142 13.6642 14.75 13.25 14.75H8.75C8.33579 14.75 8 14.4142 8 14C8 13.5858 8.33579 13.25 8.75 13.25H13.25C13.6642 13.25 14 13.5858 14 14Z" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 1C8.89543 1 8 1.89543 8 3H6C4.89543 3 4 3.89543 4 5V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V5C20 3.89543 19.1046 3 18 3H16C16 1.89543 15.1046 1 14 1H10ZM14.5 3C14.5 2.72386 14.2761 2.5 14 2.5H10C9.72386 2.5 9.5 2.72386 9.5 3V4.5C9.5 4.77614 9.72386 5 10 5H14C14.2761 5 14.5 4.77614 14.5 4.5V3ZM16 4.5C16 5.60457 15.1046 6.5 14 6.5H10C8.89543 6.5 8 5.60457 8 4.5H6C5.72386 4.5 5.5 4.72386 5.5 5V20C5.5 20.2761 5.72386 20.5 6 20.5H18C18.2761 20.5 18.5 20.2761 18.5 20V5C18.5 4.72386 18.2761 4.5 18 4.5H16Z" />
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal ">Attendance</span>
        </a></li>
    <li><a class="my_sidebar-icon " href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                    <path d="M20.1429 1H4.71429C3.76752 1 3 1.76751 3 2.71429V21.5714C3 22.5182 3.76752 23.2857 4.71429 23.2857H20.1429C21.0897 23.2857 21.8571 22.5182 21.8571 21.5714V2.71429C21.8571 1.76751 21.0897 1 20.1429 1Z" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 9.57143H21.8571" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.71422 14.7143C7.47752 14.7143 7.28564 14.5224 7.28564 14.2857C7.28564 14.049 7.47752 13.8571 7.71422 13.8571"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.71411 14.7143C7.9508 14.7143 8.14268 14.5224 8.14268 14.2857C8.14268 14.049 7.9508 13.8571 7.71411 13.8571"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.4286 14.7143C12.1919 14.7143 12 14.5224 12 14.2857C12 14.049 12.1919 13.8571 12.4286 13.8571"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.4285 14.7143C12.6652 14.7143 12.857 14.5224 12.857 14.2857C12.857 14.049 12.6652 13.8571 12.4285 13.8571" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.1429 14.7143C16.9062 14.7143 16.7144 14.5224 16.7144 14.2857C16.7144 14.049 16.9062 13.8571 17.1429 13.8571" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.1428 14.7143C17.3795 14.7143 17.5714 14.5224 17.5714 14.2857C17.5714 14.049 17.3795 13.8571 17.1428 13.8571" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.71422 19C7.47752 19 7.28564 18.8082 7.28564 18.5714C7.28564 18.3347 7.47752 18.1429 7.71422 18.1429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.71411 19C7.9508 19 8.14268 18.8082 8.14268 18.5714C8.14268 18.3347 7.9508 18.1429 7.71411 18.1429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.4286 19C12.1919 19 12 18.8082 12 18.5714C12 18.3347 12.1919 18.1429 12.4286 18.1429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.4285 19C12.6652 19 12.857 18.8082 12.857 18.5714C12.857 18.3347 12.6652 18.1429 12.4285 18.1429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.1429 19C16.9062 19 16.7144 18.8082 16.7144 18.5714C16.7144 18.3347 16.9062 18.1429 17.1429 18.1429"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.1428 19C17.3795 19 17.5714 18.8082 17.5714 18.5714C17.5714 18.3347 17.3795 18.1429 17.1428 18.1429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.5715 5.28572H15.8572" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            <span class="sidebar-dec pl-[4%] font-poppins text-base font-normal">Time Table</span>
        </a></li>
    <li><a class="my_sidebar-icon " href="#">
            <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                
                    <path d="M8.57136 9.42858C10.9383 9.42858 12.8571 7.50979 12.8571 5.14286C12.8571 2.77593 10.9383 0.857147 8.57136 0.857147C6.20443 0.857147 4.28564 2.77593 4.28564 5.14286C4.28564 7.50979 6.20443 9.42858 8.57136 9.42858Z"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M0.857178 21.4286H8.57146H16.2857V20.4993C16.2721 19.1926 15.9275 17.9107 15.2841 16.7734C14.6408 15.636 13.7196 14.6803 12.6068 13.9954C11.4939 13.3106 10.2256 12.919 8.92035 12.8572C8.80399 12.8517 8.68766 12.8488 8.57146 12.8486C8.45527 12.8488 8.33894 12.8517 8.22257 12.8572C6.91733 12.919 5.64903 13.3106 4.53615 13.9954C3.42329 14.6803 2.50215 15.636 1.85878 16.7734C1.21542 17.9107 0.870825 19.1926 0.857178 20.4993V21.4286Z"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.4287 9.42858C17.7956 9.42858 19.7144 7.50979 19.7144 5.14286C19.7144 2.77593 17.7956 0.857147 15.4287 0.857147"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.7143 21.4287H23.1428V20.4993C23.1291 19.1926 22.7845 17.9107 22.1412 16.7734C21.4978 15.636 20.5767 14.6803 19.4638 13.9955C18.7445 13.5528 17.96 13.2326 17.1428 13.0449"  stroke-linecap="round" stroke-linejoin="round"/>
        
                    
            </svg>
            <span class="sidebar-dec pl-[4%] font-poppins text-base font-normal">Students</span>
        </a></li>
    <li><a class="my_sidebar-icon " href="#">
            <svg class="size-[36px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                
                    <g clip-path="url(#clip0_217_403)">
                    <path d="M22.5944 23.4286C21.8746 21.1842 20.4608 19.2265 18.5569 17.8376C16.6528 16.4487 14.3569 15.7003 12.0001 15.7003C9.64323 15.7003 7.34731 16.4487 5.44327 17.8376C3.53925 19.2265 2.12546 21.1842 1.40576 23.4286H22.5944Z" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.9998 15.7143C16.0066 15.7143 19.2549 12.4661 19.2549 8.45932C19.2549 4.45252 16.0066 1.20438 11.9998 1.20438C7.99303 1.20438 4.74487 4.45252 4.74487 8.45932C4.74487 12.4661 7.99303 15.7143 11.9998 15.7143Z"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.369 11.2664C14.369 11.2664 13.7671 12.4509 12.0001 12.4509C10.2331 12.4509 9.6311 11.2664 9.6311 11.2664"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.1235 7.07803C19.1072 7.07814 19.0911 7.07819 19.075 7.07819C16.9661 7.07819 15.0728 6.15558 13.7766 4.69199C12.4804 6.15561 10.587 7.07824 8.4782 7.07824C7.25362 7.07824 6.10169 6.76711 5.09717 6.21961C6.04095 3.3089 8.7746 1.20438 11.9998 1.20438C15.5343 1.20438 18.4784 3.73187 19.1235 7.07803Z" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_217_403">
                    <rect width="24" height="24" fill="currentColor" transform="translate(0 0.285706)"/>
                    </clipPath>
                    </defs>
                    </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Faculty</span>
        </a></li>
    <li><a class="my_sidebar-icon " href="#">
            <svg class="size-[36px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
               
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.26351 9.82456C2.09083 10.1268 2 10.4688 2 10.8168V18.2857C2 19.3903 2.89543 20.2857 4 20.2857H20C21.1046 20.2857 22 19.3903 22 18.2857V10.8168C22 10.4688 21.9092 10.1268 21.7365 9.82456L18.5758 4.29343C18.2198 3.67028 17.5571 3.28571 16.8394 3.28571H7.16065C6.44293 3.28571 5.78025 3.67028 5.42416 4.29343L2.26351 9.82456ZM17.2735 5.03764C17.1845 4.88185 17.0188 4.78571 16.8394 4.78571H7.16065C6.98122 4.78571 6.81555 4.88185 6.72652 5.03764L3.72763 10.2857H7.5C8.05229 10.2857 8.4856 10.7425 8.64104 11.2725C9.06707 12.725 10.4097 13.7857 12 13.7857C13.5903 13.7857 14.9329 12.725 15.359 11.2725C15.5144 10.7425 15.9477 10.2857 16.5 10.2857H20.2724L17.2735 5.03764ZM20.5 11.7857H16.7707C16.1336 13.813 14.2407 15.2857 12 15.2857C9.7593 15.2857 7.86636 13.813 7.22932 11.7857H3.5V18.2857C3.5 18.5618 3.72386 18.7857 4 18.7857H20C20.2761 18.7857 20.5 18.5618 20.5 18.2857V11.7857Z" />
                   
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Inbox</span>
        </a></li>
        <li><a class="my_sidebar-icon " href="#">
            <svg class="size-[36px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.0002 16C14.2094 16 16.0002 14.2091 16.0002 12C16.0002 9.79086 14.2094 8 12.0002 8C9.7911 8 8.00024 9.79086 8.00024 12C8.00024 14.2091 9.7911 16 12.0002 16ZM12.0002 14.5C13.3809 14.5 14.5002 13.3807 14.5002 12C14.5002 10.6193 13.3809 9.5 12.0002 9.5C10.6195 9.5 9.50024 10.6193 9.50024 12C9.50024 13.3807 10.6195 14.5 12.0002 14.5Z" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.1182 1.86489L15.5203 4.81406C15.8475 4.97464 16.1621 5.1569 16.4623 5.35898L19.2185 4.23223C19.6814 4.043 20.2129 4.2248 20.463 4.65787L22.5901 8.34213C22.8401 8.77521 22.7318 9.3264 22.3365 9.63266L19.9821 11.4566C19.9941 11.6362 20.0002 11.8174 20.0002 12C20.0002 12.1826 19.9941 12.3638 19.9821 12.5434L22.3365 14.3673C22.7318 14.6736 22.8401 15.2248 22.5901 15.6579L20.463 19.3421C20.2129 19.7752 19.6814 19.957 19.2185 19.7678L16.4623 18.641C16.1621 18.8431 15.8475 19.0254 15.5203 19.1859L15.1182 22.1351C15.0506 22.6306 14.6274 23 14.1273 23H9.87313C9.37306 23 8.94987 22.6306 8.8823 22.1351L8.48014 19.1859C8.15296 19.0254 7.83835 18.8431 7.53818 18.641L4.78195 19.7678C4.31907 19.957 3.78756 19.7752 3.53752 19.3421L1.41042 15.6579C1.16038 15.2248 1.26869 14.6736 1.66401 14.3673L4.01841 12.5434C4.00636 12.3638 4.00025 12.1826 4.00025 12C4.00025 11.8174 4.00636 11.6362 4.01841 11.4566L1.66401 9.63266C1.26869 9.3264 1.16038 8.77521 1.41041 8.34213L3.53752 4.65787C3.78755 4.2248 4.31906 4.043 4.78195 4.23223L7.53818 5.35898C7.83835 5.1569 8.15296 4.97464 8.48014 4.81406L8.8823 1.86489C8.94987 1.3694 9.37306 1 9.87313 1H14.1273C14.6274 1 15.0506 1.3694 15.1182 1.86489ZM14.1421 5.80854L14.8595 6.16063C15.1251 6.29098 15.3806 6.43902 15.6246 6.60328L16.2888 7.05042L19.3822 5.78584L21.0728 8.71416L18.432 10.76L18.4854 11.557C18.4952 11.7032 18.5002 11.8509 18.5002 12C18.5002 12.1491 18.4952 12.2968 18.4854 12.443L18.432 13.24L21.0728 15.2858L19.3822 18.2142L16.2888 16.9496L15.6246 17.3967C15.3806 17.561 15.1251 17.709 14.8595 17.8394L14.1421 18.1915L13.6909 21.5H10.3096L9.85841 18.1915L9.14101 17.8394C8.87543 17.709 8.61987 17.561 8.37587 17.3967L7.7117 16.9496L4.61834 18.2142L2.92768 15.2858L5.5685 13.24L5.51505 12.443C5.50524 12.2968 5.50024 12.1491 5.50024 12C5.50024 11.8509 5.50524 11.7032 5.51505 11.557L5.5685 10.76L2.92767 8.71416L4.61834 5.78584L7.7117 7.05042L8.37587 6.60328C8.61986 6.43902 8.87543 6.29098 9.14102 6.16063L9.85841 5.80854L10.3096 2.5H13.6909L14.1421 5.80854Z" />
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Settings</span>
        </a></li>
    
</ul>