<ul
  class="space-y-4 ml-1 mr-4"
  role="tablist"
  data-twe-nav-ref>
  <li  >
    <a
      class="my_sidebar-icon"
      data-twe-toggle="pill"
      data-twe-target="#tabs-overview"
      data-twe-nav-active
      role="tab"
      aria-controls="tabs-home01"
      aria-selected="true"
      >
      <svg class="size-[36px] " xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 6.5H24C24.8284 6.5 25.5 7.17157 25.5 8V12C25.5 12.8284 24.8284 13.5 24 13.5H20C19.1716 13.5 18.5 12.8284 18.5 12V8C18.5 7.17157 19.1716 6.5 20 6.5ZM17 8C17 6.34315 18.3431 5 20 5H24C25.6569 5 27 6.34315 27 8V12C27 13.6569 25.6569 15 24 15H20C18.3431 15 17 13.6569 17 12V8ZM12 18.5C12.8284 18.5 13.5 19.1716 13.5 20V24C13.5 24.8284 12.8284 25.5 12 25.5H8C7.17157 25.5 6.5 24.8284 6.5 24V20C6.5 19.1716 7.17157 18.5 8 18.5H12ZM5 20C5 18.3431 6.34315 17 8 17H12C13.6569 17 15 18.3431 15 20V24C15 25.6569 13.6569 27 12 27H8C6.34315 27 5 25.6569 5 24V20ZM10 13.5C11.933 13.5 13.5 11.933 13.5 10C13.5 8.067 11.933 6.5 10 6.5C8.067 6.5 6.5 8.067 6.5 10C6.5 11.933 8.067 13.5 10 13.5ZM10 15C12.7614 15 15 12.7614 15 10C15 7.23858 12.7614 5 10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15ZM25.5 22C25.5 23.933 23.933 25.5 22 25.5C20.067 25.5 18.5 23.933 18.5 22C18.5 20.067 20.067 18.5 22 18.5C23.933 18.5 25.5 20.067 25.5 22ZM27 22C27 24.7614 24.7614 27 22 27C19.2386 27 17 24.7614 17 22C17 19.2386 19.2386 17 22 17C24.7614 17 27 19.2386 27 22Z" />
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Overview</span>
      </a
    >
  </li>
  <li >
    <a
      class="my_sidebar-icon"
      data-twe-toggle="pill"
      data-twe-target="#tabs-time_table"
      role="tab"
      aria-controls="tabs-profile01"
      aria-selected="false"
      >
      <svg class="size-[36px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
                <path
                    d="M16 10C16 10.4142 15.6642 10.75 15.25 10.75H8.75C8.33579 10.75 8 10.4142 8 10C8 9.58579 8.33579 9.25 8.75 9.25H15.25C15.6642 9.25 16 9.58579 16 10Z" />
                <path
                    d="M14 14C14 14.4142 13.6642 14.75 13.25 14.75H8.75C8.33579 14.75 8 14.4142 8 14C8 13.5858 8.33579 13.25 8.75 13.25H13.25C13.6642 13.25 14 13.5858 14 14Z" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 1C8.89543 1 8 1.89543 8 3H6C4.89543 3 4 3.89543 4 5V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V5C20 3.89543 19.1046 3 18 3H16C16 1.89543 15.1046 1 14 1H10ZM14.5 3C14.5 2.72386 14.2761 2.5 14 2.5H10C9.72386 2.5 9.5 2.72386 9.5 3V4.5C9.5 4.77614 9.72386 5 10 5H14C14.2761 5 14.5 4.77614 14.5 4.5V3ZM16 4.5C16 5.60457 15.1046 6.5 14 6.5H10C8.89543 6.5 8 5.60457 8 4.5H6C5.72386 4.5 5.5 4.72386 5.5 5V20C5.5 20.2761 5.72386 20.5 6 20.5H18C18.2761 20.5 18.5 20.2761 18.5 20V5C18.5 4.72386 18.2761 4.5 18 4.5H16Z" />
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Time Table</span>
      </a>
  </li>
  <li  >
    <a
      class="my_sidebar-icon"
      data-twe-toggle="pill"
      data-twe-target="#tabs-attendance"
      role="tab"
      aria-controls="tabs-messages01"
      aria-selected="false"
      >
      <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M22.3119 10.0113C22.5199 11.0961 21.6046 12 20.5 12H14C12.8954 12 12 11.1046 12 10V3.50003C12 2.39546 12.9039 1.48014 13.9887 1.68811C18.1928 2.49408 21.506 5.80721 22.3119 10.0113ZM20.8388 10.2937C20.1484 6.69293 17.3071 3.8516 13.7063 3.16129C13.6795 3.15614 13.6693 3.15937 13.6663 3.16034C13.6604 3.16219 13.6419 3.16936 13.6166 3.19328C13.561 3.24564 13.5 3.35335 13.5 3.50003V10C13.5 10.2762 13.7239 10.5 14 10.5H20.5C20.6467 10.5 20.7544 10.439 20.8068 10.3835C20.8307 10.3581 20.8377 10.3401 20.8396 10.3341C20.8406 10.331 20.8439 10.3206 20.8388 10.2937Z" />
                <path
                    d="M9.62681 2.79886C10.0803 2.68224 10.5 3.0415 10.5 3.50971C10.5 3.8756 10.2384 4.18599 9.88544 4.28247C6.49326 5.20976 4 8.31373 4 12C4 16.4183 7.58172 20 12 20C15.6863 20 18.7903 17.5068 19.7176 14.1146C19.814 13.7617 20.1244 13.5 20.4903 13.5C20.9585 13.5 21.3178 13.9198 21.2012 14.3732C20.1472 18.4716 16.4273 21.5 12 21.5C6.7533 21.5 2.5 17.2467 2.5 12C2.5 7.57276 5.52848 3.85283 9.62681 2.79886Z" />
            </svg>
            <span class="sidebar-dec pl-[4%] font-poppins text-base font-normal">Attendance</span>
      </a
    >
  </li>
  <li  >
    <a

      class="my_sidebar-icon"
      data-twe-toggle="pill"
      data-twe-target="#tabs-grading"
      role="tab"
      aria-controls="tabs-messages02"
      aria-selected="false"
      >
      <svg class="size-[36px] pl-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                
                    <path d="M8.57136 9.42858C10.9383 9.42858 12.8571 7.50979 12.8571 5.14286C12.8571 2.77593 10.9383 0.857147 8.57136 0.857147C6.20443 0.857147 4.28564 2.77593 4.28564 5.14286C4.28564 7.50979 6.20443 9.42858 8.57136 9.42858Z"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M0.857178 21.4286H8.57146H16.2857V20.4993C16.2721 19.1926 15.9275 17.9107 15.2841 16.7734C14.6408 15.636 13.7196 14.6803 12.6068 13.9954C11.4939 13.3106 10.2256 12.919 8.92035 12.8572C8.80399 12.8517 8.68766 12.8488 8.57146 12.8486C8.45527 12.8488 8.33894 12.8517 8.22257 12.8572C6.91733 12.919 5.64903 13.3106 4.53615 13.9954C3.42329 14.6803 2.50215 15.636 1.85878 16.7734C1.21542 17.9107 0.870825 19.1926 0.857178 20.4993V21.4286Z"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.4287 9.42858C17.7956 9.42858 19.7144 7.50979 19.7144 5.14286C19.7144 2.77593 17.7956 0.857147 15.4287 0.857147"  stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.7143 21.4287H23.1428V20.4993C23.1291 19.1926 22.7845 17.9107 22.1412 16.7734C21.4978 15.636 20.5767 14.6803 19.4638 13.9955C18.7445 13.5528 17.96 13.2326 17.1428 13.0449"  stroke-linecap="round" stroke-linejoin="round"/>
        
                    
            </svg>
            <span class="sidebar-dec pl-[4%] font-poppins text-base font-normal">Grading</span>
      </a
    >
  </li>
  <li >
    <a

      class="my_sidebar-icon"
      data-twe-toggle="pill"
      data-twe-target="#tabs-inbox"
      role="tab"
      aria-controls="tabs-messages013"
      aria-selected="false"
      >
      <svg class="size-[36px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1" fill="currentColor" stroke-linecap="round"
                stroke-linejoin="round">
               
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.26351 9.82456C2.09083 10.1268 2 10.4688 2 10.8168V18.2857C2 19.3903 2.89543 20.2857 4 20.2857H20C21.1046 20.2857 22 19.3903 22 18.2857V10.8168C22 10.4688 21.9092 10.1268 21.7365 9.82456L18.5758 4.29343C18.2198 3.67028 17.5571 3.28571 16.8394 3.28571H7.16065C6.44293 3.28571 5.78025 3.67028 5.42416 4.29343L2.26351 9.82456ZM17.2735 5.03764C17.1845 4.88185 17.0188 4.78571 16.8394 4.78571H7.16065C6.98122 4.78571 6.81555 4.88185 6.72652 5.03764L3.72763 10.2857H7.5C8.05229 10.2857 8.4856 10.7425 8.64104 11.2725C9.06707 12.725 10.4097 13.7857 12 13.7857C13.5903 13.7857 14.9329 12.725 15.359 11.2725C15.5144 10.7425 15.9477 10.2857 16.5 10.2857H20.2724L17.2735 5.03764ZM20.5 11.7857H16.7707C16.1336 13.813 14.2407 15.2857 12 15.2857C9.7593 15.2857 7.86636 13.813 7.22932 11.7857H3.5V18.2857C3.5 18.5618 3.72386 18.7857 4 18.7857H20C20.2761 18.7857 20.5 18.5618 20.5 18.2857V11.7857Z" />
                   
            </svg>
            <span class="sidebar-dec ml-[4%] font-poppins text-base font-normal">Inbox</span>
      </a
    >
  </li>

</ul>