<div class="flex m-2 justify-center items-cente">

    <div class=" w-fit h-fit bg-gray-900 p-3 rounded-lg shadow-md hover:shadow-2xl shadow-gray-600 border-2 border-gray-500">
        <%- include('table') %>
    </div>
</div>